[submodule "home/.vim/bundle/vim-ansible-yaml"]
	path = home/.vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "home/.vim/bundle/vim-nerdtree-tabs"]
	path = home/.vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "home/.vim/bundle/vim-python-pep8-indent"]
	path = home/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "home/.vim/bundle/YouCompleteMe"]
	path = home/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "home/.vim/bundle/vim-javacomplete2"]
	path = home/.vim/bundle/vim-javacomplete2
	url = git@github.com:artur-shaik/vim-javacomplete2.git
[submodule "home/.vim/bundle/neoformat"]
	path = home/.vim/bundle/neoformat
	url = git@github.com:sbdchd/neoformat.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
